In [95]:
import pandas as pd
import smogn

df = pd.read_csv("../dataset/formatted.csv")
tar_col = "LC50 [-LOG(mol/L)]"
smoted = smogn.smoter( 
    data = df, 
    y = tar_col,
    k = 50,
    pert = 0.05,
    rel_thres = 0.1)
# print(smoted)
smoted["isSyn"] = 1

dist_matrix: 100%|###################################################################| 258/258 [00:31<00:00,  8.32it/s]
r_index: 100%|########################################################################| 45/45 [00:00<00:00, 267.14it/s]
dist_matrix: 100%|###################################################################| 288/288 [00:38<00:00,  7.55it/s]
r_index: 100%|########################################################################| 14/14 [00:00<00:00, 216.69it/s]

In [96]:
smoted_sample = smoted.sample(frac=0.25)
smoted_sample.reset_index(inplace=True)
smoted_sample = smoted_sample.drop("index",axis=1)
smoted_sample

      CIC0  SM1_Dz(Z)  GATS1i  NdsCH  NdssC  MLOGP  LC50 [-LOG(mol/L)]  isSyn
0    3.180      1.281   1.246      0      0  2.492               4.963      1
1    2.233      0.640   0.920      1      0  2.370               4.750      1
2    3.079      0.429   2.135      0      0 -0.521               1.308      1
3    2.819      0.331   1.271      0      1  0.981               2.736      1
4    2.351      1.586   1.250      0      4  3.659               6.416      1
..     ...        ...     ...    ...    ...    ...                 ...    ...
161  2.993      0.811   1.232      0      2 -0.059               5.395      1
162  3.086      0.948   0.751      0      0  3.586               5.107      1
163  3.315      0.223   0.799      0      0  3.127               4.440      1
164  1.962      1.345   0.783      0      0  3.617               5.352      1
165  2.777      0.560   1.127      1      0  1.433               4.767      1

[166 rows x 8 columns]

In [97]:
df["isSyn"] = 0

In [98]:
return_df = pd.concat([df,smoted_sample], ignore_index=True)

In [99]:
return_df

       CIC0  SM1_Dz(Z)  GATS1i  NdsCH  NdssC  MLOGP  LC50 [-LOG(mol/L)]  isSyn
0     3.260      0.829   1.676      0      1  1.453               3.770      0
1     2.189      0.580   0.863      0      0  1.348               3.115      0
2     2.125      0.638   0.831      0      0  1.348               3.531      0
3     3.027      0.331   1.472      1      0  1.807               3.510      0
4     2.094      0.827   0.860      0      0  1.886               5.390      0
...     ...        ...     ...    ...    ...    ...                 ...    ...
1069  2.993      0.811   1.232      0      2 -0.059               5.395      1
1070  3.086      0.948   0.751      0      0  3.586               5.107      1
1071  3.315      0.223   0.799      0      0  3.127               4.440      1
1072  1.962      1.345   0.783      0      0  3.617               5.352      1
1073  2.777      0.560   1.127      1      0  1.433               4.767      1

[1074 rows x 8 columns]

In [101]:
return_df.to_csv("../dataset/smogn_syn_data.csv",index=False)